@model IEnumerable<EventsMVC.Models.UserMaster>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminNavbar.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />




<div class="container">
	<h2>User Information</h2>
	<table id="user-table">
		<thead>
			<tr>
				<th>@Html.DisplayNameFor(model => model.FullName)</th>
				<th>@Html.DisplayNameFor(model => model.Email)</th>
				<th>@Html.DisplayNameFor(model => model.Password)</th>
				<th>@Html.DisplayNameFor(model => model.Address)</th>
				<th>@Html.DisplayNameFor(model => model.Role)</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@Html.DisplayFor(modelItem => item.FullName)</td>
					<td>@Html.DisplayFor(modelItem => item.Email)</td>
					<td>@Html.DisplayFor(modelItem => item.Password)</td>
					<td>@Html.DisplayFor(modelItem => item.Address)</td>
					<td>@Html.DisplayFor(modelItem => item.Role.RoleName)</td>
					<td>
						<a asp-action="Details" asp-route-id="@item.UserId"><i class="fa fa-eye"></i></a>
						<a asp-action="Delete" id="myBtn" asp-route-id="@item.UserId" onclick="return confirm('Are You Sure ?')"><i class="fa fa-trash"></i></a>
					
					</td>
				</tr>
			}
		</tbody>
	</table>

	 

</div>



